$accent: #008385;
$accent-dark: #003839;
$white: #fff;
$spacer-x: 1rem;
$spacer-y: .75rem;

$mobile-breakpoint: 576px;

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
  margin-bottom: 1rem;
}

.main-nav {
  background-color: $accent;
  ul {
    // Reset ul defaults
    margin: 0;
    padding: 0;
    list-style: none;

    // Mobile first
    display: flex;
    flex-direction: column;
    // Desktop
    @media screen and (min-width: $mobile-breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
    li a {
      display: block;
      text-decoration: none;
      color: $white;
      padding: $spacer-y $spacer-x;
      &:hover, &:focus {
        outline: none;
        background-color: $accent-dark;
      }
    }
  }
}
